@model Exam
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<dt class="col-sm-2">
</dt>
<dd class="col-sm-10">
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(m=>m.LessonCode)</th>
            <th>@Html.DisplayNameFor(m=>m.StudentNo)</th>
            <th>@Html.DisplayNameFor(m=>m.ExamDate)</th>
            <th>@Html.DisplayNameFor(m=>m.ExamGrade)</th>
        </tr>

        <tr>
            <td>
                @Model.LessonCode
            </td>
            <td>
                @Model.StudentNo
            </td>
            <td>
                @Model.ExamDate
            </td>
            <td>
                @Model.ExamGrade
            </td>
        </tr>

    </table>
</dd>
