@model Lesson
@{
    ViewData["Title"] = "Dərsi sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Mövcud dərsi sil</h2>
    </div>

    <form method="POST" enctype="multipart/form-data" asp-controller="Lesson" asp-action="DeleteLesson">

        <div class="form-row">
            <div class="form-group col-md-6" hidden> 
                <label asp-for="@Model.LessonCode">Dərsin kodu</label>
                <input type="text" class="form-control mb-3" asp-for="@Model.LessonCode" placeholder="Dərsin kodunu daxil edin" hidden>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.LessonName">Dərsin adı</label>
                <input type="text" class="form-control mb-3" asp-for="@Model.LessonName" placeholder="Dərsin adını daxil edin" disabled>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="@Model.Class">Sinif</label>
                <input type="text" class="form-control mb-3" asp-for="@Model.Class" placeholder="Sinifi daxil edin" disabled>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.TeacherName">Müəlllimin adı</label>
                <input type="text" class="form-control mb-3" asp-for="@Model.TeacherName" placeholder="Müəllimin adını daxil edin" disabled>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.TeacherSurname">Müəlllimin soyadı</label>
                <input type="text" class="form-control mb-3" asp-for="@Model.TeacherSurname" placeholder="Müəlllimin soyadını daxil edin" disabled>
            </div>
        </div>
        <input type="submit" class="btn btn-lg btn-danger p-2" value="Sil" />
    </form>
</div>

