@model Lesson
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<dt class="col-sm-2">
    </dt>
<dd class="col-sm-10">
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(m=>m.LessonName)</th>
            <th>@Html.DisplayNameFor(m=>m.Class)</th>
            <th>@Html.DisplayNameFor(m=>m.TeacherName)</th>
            <th>@Html.DisplayNameFor(m=>m.TeacherSurname)</th>
        </tr>

        <tr>
            <td>
                @Model.LessonName
            </td>
            <td>
                @Model.Class
            </td>
            <td>
                @Model.TeacherName
            </td>
            <td>
                @Model.TeacherSurname
            </td>
        </tr>

    </table>
</dd>
