@model Student
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<dt class="col-sm-2">
</dt>
<dd class="col-sm-10">
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(m=>m.StudentNo)</th>
            <th>@Html.DisplayNameFor(m=>m.StudentName)</th>
            <th>@Html.DisplayNameFor(m=>m.StudentSurname)</th>
            <th>@Html.DisplayNameFor(m=>m.Class)</th>
        </tr>

        <tr>
            <td>
                @Model.StudentNo
            </td>
            <td>
                @Model.StudentName
            </td>
            <td>
                @Model.StudentSurname
            </td>
            <td>
                @Model.Class
            </td>
        </tr>

    </table>
</dd>
